header {
	background: #eee;
	border: 2px solid blue;
	height: ;
}

section {
	background: #ddd;
	width: 70%;
	float: left;
	clear: both;
}

aside {
	background: #ccc;
	width: 30%;
	float: left;
}

footer {
	background: #aaa;
	clear: both; /* left, right or both */
}

.logo {
	float: left;
}

nav ul {
	float: right;
}

.clearfix:after {
	content:'';
	display:block;
	clear:both;
}