<style>
#square {
	width: 100px;
	height: 100px;
	background: red;
}
</style>

<h2>Blue Square</h2>

<form action="/multiple" method="post">
	Number of squares: <input type="number" name="num">
	<input type="submit">
</form>

<
<%= @num %>
